{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

 {% block stylesheets %}
 {{parent()}}
    <link rel ="stylsheet"  href="{{asset('css/style.css')}}">
{% endblock %}
{% block body %}

<p>
{% if age >=30 %}
j'ai  30 ans et plus
{% else %}
    j'ai moins de 30 ans
{% endif %}
    

</p>
<p> je m'appelle {{ firstname }} {{ lastName }} est j'ai {{ age }}</p>
{% endblock %}
